In [ ]:
import numpy as np 
import pandas as pd

In [36]:
###multi train_df 
train_multi_inputs_id = pd.read_hdf('../dataset/train_multi_inputs.h5').reset_index()[['cell_id']]
metadata = pd.read_csv('../dataset/metadata.csv')
train_multi_inputs_id = train_multi_inputs_id.merge(metadata,on=['cell_id'],how='left')
train_multi_inputs_id = train_multi_inputs_id.drop(['technology'],axis=1)
train_multi_inputs_id.to_feather('../dataset/train_multi_inputs_id.feather')

In [37]:
###multi test_df 
test_multi_inputs_id = pd.read_hdf('../dataset/test_multi_inputs.h5').reset_index()[['cell_id']]
test_multi_inputs_id = test_multi_inputs_id.merge(metadata,on=['cell_id'],how='left')
test_multi_inputs_id = test_multi_inputs_id.drop(['technology'],axis=1)
test_multi_inputs_id.to_feather('../dataset/test_multi_inputs_id.feather')

In [2]:
###train_target  save target to numpy
train_multi_targets = pd.read_hdf('../dataset/train_multi_targets.h5').reset_index(drop=True)
np.save('../dataset/train_multi_targets.npy', train_multi_targets)

In [5]:
train_multi_targets.shape

(105942, 23418)

In [4]:
train_cite_targets = pd.read_hdf('../dataset/train_cite_targets.h5').reset_index(drop=True)
np.save('../dataset/train_cite_targets0608.npy', train_cite_targets) ######Test to see how much memory cite's train_target takes up

In [6]:
train_cite_targets.shape

(70988, 140)

In [ ]:
###trian celltype to label

In [10]:
train_multi_inputs_id = pd.read_hdf('../dataset/train_multi_inputs.h5').reset_index()[['cell_id']]
metadata = pd.read_csv('../dataset/metadata.csv')
train_multi_inputs_id = train_multi_inputs_id.merge(metadata,on=['cell_id'],how='left')
train_multi_inputs_id['category_num'] = pd.factorize(train_multi_inputs_id['cell_type'])[0]
np.save('../dataset/train_multi_inputs_celltype.npy', train_multi_inputs_id['category_num'].values)

In [11]:
train_cite_inputs_id = pd.read_hdf('../dataset/train_cite_inputs.h5').reset_index()[['cell_id']]
metadata = pd.read_csv('../dataset/metadata.csv')
train_cite_inputs_id = train_cite_inputs_id.merge(metadata,on=['cell_id'],how='left')
train_cite_inputs_id['category_num'] = pd.factorize(train_cite_inputs_id['cell_type'])[0]
np.save('../dataset/train_cite_inputs_celltype.npy', train_cite_inputs_id['category_num'].values)

# Load feature and target

In [1]:
%%time
feature_path = '../dataset/'

train_df = pd.read_feather(feature_path+'train_cite_inputs_id.feather')
test_df = pd.read_feather(feature_path+'test_cite_inputs_id.feather')
train_cite_X = np.load(feature_path+'train_cite_X.npy')
test_cite_X = np.load(feature_path+'test_cite_X.npy')
train_cite_y = np.load(feature_path+'train_cite_targets.npy')

CPU times: user 970 ms, sys: 3.07 s, total: 4.04 s
Wall time: 857 ms

In [3]:
train_df.shape,test_df.shape,train_cite_X.shape,test_cite_X.shape,train_cite_y.shape

((70988, 4), (48663, 4), (70988, 1009), (48663, 1009), (70988, 140))

In [24]:
train_cite_y

array([[ 0.0946045 , -0.16236244, -0.4053319 , ..., -0.26049733,
         0.38325766, -0.1974526 ],
       [-0.25125074, -0.35797045, -0.16268891, ..., -0.19555233,
         0.40263   ,  0.21424632],
       [-0.5045346 , -0.52717906, -0.6661142 , ..., -0.7899379 ,
         0.98586226,  0.6095204 ],
       ...,
       [-0.21439946, -0.42171356, -0.15420535, ..., -0.28104922,
         1.3694407 ,  0.39634088],
       [-0.5920456 , -0.85295653, -0.3631059 , ..., -0.15817979,
         0.1609816 ,  0.7527571 ],
       [-0.64900035, -0.6185921 , -0.27466986, ..., -0.3303311 ,
         1.6578442 ,  0.4573473 ]], dtype=float32)

In [17]:
df = pd.read_csv('../dataset/evaluation_ids.csv')
df

            row_id       cell_id          gene_id
0                0  c2150f55becb             CD86
1                1  c2150f55becb            CD274
2                2  c2150f55becb            CD270
3                3  c2150f55becb            CD155
4                4  c2150f55becb            CD112
...            ...           ...              ...
65744175  65744175  2c53aa67933d  ENSG00000134419
65744176  65744176  2c53aa67933d  ENSG00000186862
65744177  65744177  2c53aa67933d  ENSG00000170959
65744178  65744178  2c53aa67933d  ENSG00000107874
65744179  65744179  2c53aa67933d  ENSG00000166012

[65744180 rows x 3 columns]

In [19]:
len(df['cell_id'].unique()),len(df['gene_id'].unique())

(65443, 23558)

In [21]:
dff = pd.read_csv('../dataset/metadata.csv')
dff

             cell_id  day  donor cell_type technology
0       c2150f55becb    2  27678       HSC    citeseq
1       65b7edf8a4da    2  27678       HSC    citeseq
2       c1b26cb1057b    2  27678      EryP    citeseq
3       917168fa6f83    2  27678      NeuP    citeseq
4       2b29feeca86d    2  27678      EryP    citeseq
...              ...  ...    ...       ...        ...
281523  96a60b026659   10  31800    hidden   multiome
281524  d493e546991e   10  31800    hidden   multiome
281525  05666c99aa48   10  31800    hidden   multiome
281526  121f946642b5   10  31800    hidden   multiome
281527  b847ba21f59f   10  31800    hidden   multiome

[281528 rows x 5 columns]

In [23]:
dff.loc[dff['technology']=='citeseq']

             cell_id  day  donor cell_type technology
0       c2150f55becb    2  27678       HSC    citeseq
1       65b7edf8a4da    2  27678       HSC    citeseq
2       c1b26cb1057b    2  27678      EryP    citeseq
3       917168fa6f83    2  27678      NeuP    citeseq
4       2b29feeca86d    2  27678      EryP    citeseq
...              ...  ...    ...       ...        ...
119646  a9b4d99f1f50    7  31800       HSC    citeseq
119647  0e2c1d0782af    7  31800       HSC    citeseq
119648  a3cbc5aa0ec3    7  31800       MkP    citeseq
119649  75b350243add    7  31800      EryP    citeseq
119650  ad5a949989b2    7  31800      EryP    citeseq

[119651 rows x 5 columns]

In [25]:
sub = pd.read_csv('../dataset/evaluation_ids.csv')
sub

            row_id       cell_id          gene_id
0                0  c2150f55becb             CD86
1                1  c2150f55becb            CD274
2                2  c2150f55becb            CD270
3                3  c2150f55becb            CD155
4                4  c2150f55becb            CD112
...            ...           ...              ...
65744175  65744175  2c53aa67933d  ENSG00000134419
65744176  65744176  2c53aa67933d  ENSG00000186862
65744177  65744177  2c53aa67933d  ENSG00000170959
65744178  65744178  2c53aa67933d  ENSG00000107874
65744179  65744179  2c53aa67933d  ENSG00000166012

[65744180 rows x 3 columns]

In [26]:
len(sub['cell_id'].unique()),len(sub['gene_id'].unique())

(65443, 23558)

In [27]:
evaluation_ids = sub.merge(dff, on=['cell_id'], how='left')
evaluation_ids

,row_id,cell_id,gene_id,day,donor,cell_type,technology
0,0,c2150f55becb,CD86,2,27678,HSC,citeseq
1,1,c2150f55becb,CD274,2,27678,HSC,citeseq
2,2,c2150f55becb,CD270,2,27678,HSC,citeseq
3,3,c2150f55becb,CD155,2,27678,HSC,citeseq
4,4,c2150f55becb,CD112,2,27678,HSC,citeseq
...,...,...,...,...,...,...,...
65744175,65744175,2c53aa67933d,ENSG00000134419,7,27678,hidden,multiome
65744176,65744176,2c53aa67933d,ENSG00000186862,7,27678,hidden,multiome
65744177,65744177,2c53aa67933d,ENSG00000170959,7,27678,hidden,multiome
65744178,65744178,2c53aa67933d,ENSG00000107874,7,27678,hidden,multiome
65744179,65744179,2c53aa67933d,ENSG00000166012,7,27678,hidden,multiome

In [29]:
evaluation_ids['cell_type'].unique()

array(['HSC', 'EryP', 'NeuP', 'MasP', 'MkP', 'BP', 'MoP', 'hidden'],
      dtype=object)